body {
    margin: 0;
    font-family: 'Helvetica Neue', Arial, sans-serif;
    background: #ffffff;
    color: #222;
    line-height: 1.7;
    text-align: justify
    font-family: 'Roboto', sans-serif;
}

.bg{
    background-color:#f5f5f5;
}


.wrap {
    max-width: 900px;
    margin: 0 auto;
    padding: 20px 16px;
}


.pub{
    color: #5f9ea0;
    font-size: 1.0em;
}

#teaser{
    margin: 20px;
    width: 95%;
}

img.teaser{
    margin: 20px auto;
}

figcaption.teaser{
    font-size: 0.85em;
    display: inline-block;
    text-align: justify;
    color: #696969;
}


.center{
    line-height: 0.95em;
    margin-bottom: 20px;
    width: 100%;
    text-align: center;
}

header {
    text-align: center;
    margin-bottom: 60px;
}

header img {
    max-width: 100%;
    border-radius: 8px;
}

h1{
    line-height: 1.1em;
    font-weight: 600;
    font-size: 2.2em;
    margin: 30px;
    color: #111;
}

h2 {
    /*border-bottom: 2px solid #eee;*/
    padding-bottom: 4px;
    margin-top: 2.5em;
    font-size: 1.7em;
    text-align: center;
    font-weight: 500;
}

.authors {
    margin-top: 0.5em;
    color: #666;
    font-size:1.1em;
    margin: 30px;
}

a {
    color: #0066cc;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

.center{
      text-align: center;
}

.btn {
    display: inline-block;
    background: #313131;
    color: white;
    padding: 8px 14px;
    border-radius: 6px;
    margin-right: 8px;
}

.btn:hover {
    background: #5f9ea0;
    text-decoration:none;
}

section img, section iframe {
    max-width: 100%;
    border-radius: 6px;
}

section {
    padding-top:2px;
    padding-bottom:40px;
}

footer {
    text-align: center;
    font-size: 0.8em;
    color: #888;
    margin-top: 50px;
    margin-bottom: 20px;
    padding-top: 10px;
    border-top: 1px solid #eee;
}

.code-container {
    position: relative;
}

code.bib {
    display: block;
    white-space: pre;
    background: #f9f9f9;
    border: 1px solid #ddd;
    border-radius: 10px;
    padding: 5px ;
    overflow-x: auto;
    font-family: monospace;
}

.copy-btn {
    position: absolute;
    top: 8px;
    right: 8px;
    border: 0px;
    padding: 10px;
    font-size: 0.8em;
    cursor: pointer;
    background: #f9f9f9;
    transition: background 0.2s;
}

  .tooltip .tooltiptext {
      visibility: hidden;
      width: 60px;
      background-color: black;
      color: white;
      text-align: center;
      border-radius: 6px;
      padding: 8px 0;
      position: absolute;
      z-index: 1;
      bottom: 100%;
      left: 50%;
      margin-left: -30px;
      margin-bottom: 10px;
}

.tooltip:hover .tooltiptext {
      visibility: visible;
      transition: 1s;
}
    




